<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title> Etienda DAI | Esther García </title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'index' %}">Etienda DAI</a>

             <!-- Searchbar -->
             <form class="d-flex" method="get" action="{% url 'products' %}">
                <input name='search_term' class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <!-- End Searchbar -->

         </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <!-- New product button -->
             {% if user.is_authenticated %}
                {% if user.is_staff or user.is_superuser %}
                    <a class="nav-link btn btn-primary" href="{% url 'create_product' %}" role="button">Create product</a>
                {% endif %}
            {% endif %}

            <!-- End new product button -->

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for categoria in categorias %}
                            <a class="dropdown-item" href="{% url 'categories' category=categoria  %}">{{categoria | capfirst}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="#">Orders</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>