{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>{{category | upper}}</h1>

<div class="container mt-5">
    <h1>Listado de Productos</h1>

    <div class="row">
        {% for producto in products %}
        {{ producto}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static producto.image %}" class="card-img-top" alt="{{ producto.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.title }}</h5>
                        <p class="card-text">Valoración: {{ producto.rating.rate }} <span class="star">&#9733;</span></p>
                        <p class="card-text">Precio: {{ producto.price }}€</p>
                        <p class="card-text">{{ producto.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

