{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <i class="fas fa-times" data-bs-dismiss="alert" aria-label="Close"></i>
</div>
{% endfor %}
{% endif %}

<div class="container mt-5">
    <h1>{{category | capfirst}}</h1>

    {% if products %}
    <div class="row">
        {% for producto in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- Si el producto tiene imagen -->
                {% if producto.image %}
                <!-- Si la imagen se encuentra en media, la muestra -->
                {% if producto.is_media %}
                <img src="{{ producto.image }}" class="card-img-top"
                     alt="{{ producto.title }}">
                {% else %}
                <!-- Si no se encuentra la imagen en media, busca en static -->
                <img src="{% static producto.image %}" class="card-img-top"
                     alt="{{ producto.title }}">
                {% endif %}
                {% else %} <!-- Si el producto no tiene imagen, muestra una por defecto -->
                <img src="{% static 'img/no_image.jpg' %}" class="card-img-top"
                     alt="{{ producto.title }}">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ producto.title }}</h5>
                    <p class="card-text">Rating: {{ producto.rating.rate }} <span class="star">&#9733;</span>
                    </p>
                    <p class="card-text">Price: {{ producto.price }}€</p>
                    <p class="card-text">{{ producto.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>We are sorry! There are no products to show</p>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock scripts %}