.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #7fbf6a;
    width: 100%;

    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}